* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/*.container {
  max-width: 100%;
}*/

[class*="col"] {
  height: auto;
  width: 100%;
  padding: 10px;
  margin: 5px auto;
  overflow: hidden;
}

/*headings*/
h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 6vw;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #ff6d00;
  text-align: center;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #626262;
  text-align: center;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #ff6d00;
  text-align: center;
}

h4 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #ff914d;
  text-align: center;
}

h5 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.8px;
  color: #ff914d;
}

/*paragraphs*/
.desktopInfo {
  display: none;
}
.information {
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.6px;
  color: #626262;
  margin-left: 10px;
}

.infoSub {
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.6px;
  color: #ff914d;
}

.description {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #626262;
  text-align: center;
  padding: 0px 10px;
}

.footerDesc {
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  padding-bottom: 20px;
}

/* main */

img {
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

.desktopImg {
  display: none;
}

.dogImg {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  padding: 0px 50px;
}

.row::after {
  clear: both;
  display: table;
}

.info {
  margin: 0px;
  text-align: left;
  padding: 10px;
}

.info:last-child {
  padding-bottom: 60px;
}

.subject {
  text-align: center;
}

.requirements,
.risks {
  padding: 20px;
}

.listing {
  padding-left: 20px;
}

li {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #626262;
  margin: 10px 0px;
}

.userCard-left,
.userCard-right {
  width: auto;
}

.dataFlow {
  padding: 20px 20px 90px 20px;
}

.wmdLogos,
.wmdTypography,
.wmdColors {
  padding-bottom: 50px;
}

.mobileImg,
.centerImg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.newFeature:last-child {
  padding-bottom: 50px;
}

.footer {
  margin-bottom: 0px;
  height: auto;
  background-color: #ff914d;
  text-align: center;
}

.footerDesc {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.portLink {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  text-decoration: underline;
  font-weight: 300;
  cursor: pointer;
}

.portLink:hover {
  color: #626262;
}

.buttonWrapper {
  padding-top: 40px;
  padding-bottom: 0px;
}

.fas:hover,
.backToTop:hover {
  color: #626262;
}

.backToTop {
  text-decoration: none;
}

i {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

.fas {
  color: #ffffff;
}

.backToTop:hover {
  color: #ff914d;
}

/* For Desktop */
@media screen and (min-width: 1024px) {
  [class*="col"] {
    padding: 35px;
  }

  .header {
    width: 100%;
    height: auto;
    display: block;
  }

  .banner {
    width: 100%;
  }

  h1 {
    font-size: 2.5vw;
    text-align: left;
  }

  h2 {
    font-size: 3.5vw;
  }

  h4 {
    font-size: 18px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
  }

  .description {
    font-size: 18px;
    text-align: left;
    padding: 0px;
  }

  .desktopInfo {
    display: block;
    font-size: 18px;
    margin-left: 0px;
  }

  .information,
  .infoSub {
    font-size: 18px;
    margin: 0px;
  }

  .mobileInfo {
    display: none;
  }

  .info {
    padding: 30px;
  }

  .wmdContext,
  .dogImg {
    padding-bottom: 50px;
  }

  .wmd-wrapper {
    /*padding: 40px;*/
    padding-left: 200px;
    padding-right: 200px;
  }

  .risk-req-wrapper {
    padding: 20px;
  }

  .listing {
    padding-left: 80px;
  }

  li {
    font-size: 18px;
  }

  .col-1 {
    width: 33.3%;
    float: left;
  }

  .col-2 {
    width: 50%;
    float: left;
  }

  .col-3 {
    width: 100%;
  }

  .row {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .wmdContext {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sideImage {
    width: 100%;
    max-width: 433px;
    height: auto;
    margin-right: 10px;
    float: right;
  }

  .userCard-left {
    width: 550px;
    float: right;
  }

  .userCard-right {
    width: 550px;
    float: left;
  }

  .userFlowchart {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .dataFlow {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .wmdLogos {
    /*width: 500px;
    height: 255px;*/
    float: left;
  }

  .wmdTypography {
    /*width: 453px;
    height: 300px;*/
    float: right;
  }

  .mobileImg {
    display: none;
  }

  .desktopImg {
    display: block;
  }

  .colorSwatch {
    width: 633px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .wmdColors {
    width: 100%;
  }

  .wmdFuture {
    padding: 50px;
  }

  h1 {
    font-size: 3vw;
  }
}
